<mat-card class="accounts">
  
  <h2>
  Welcome to Accounts Section
</h2>
<p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry.
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry.

    Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry.
</mat-card>
