.accounts{
    min-height: 200px;
    h2{
      text-align: center;  
    justify-content: center;
    align-items:center;
    margin: auto;
    top:15%;
    }
    p{
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    }
}