table.mat-table{
    width: 100%;
    background: #fff;
    tr,th,td{
        color: black;
    }
    th{
        font-weight: 600;
    }
}
@media(max-width:599px){
    table.mat-table{
        td,th{
            padding: 10px;

        }
    }
}