<!-- <mat-drawer-container class="container">
  <mat-drawer #drawer class="sidenav" mode="side">
    <ul>
      <li>
        <button color="primary" mat-button routerLink="/transactions"><i class="material-icons">
          account_balance
          </i>Transaction</button>
          <span> <i class="material-icons">arrow_forward_ios </i> <i class="material-icons">
            expand_more
            </i></span>
      </li>
      <li><i class="material-icons">
        attach_money
        </i>
        <button mat-button color="primary" routerLink="/payable-master">Payable Master</button>
      </li>
      <li>
        <button mat-button routerLink="/receivable-master">Receivable Master</button>
      </li>
    </ul>
  </mat-drawer>
  <div class="sidenav-content">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <router-outlet> </router-outlet>
  </div>
</mat-drawer-container> -->

<!-- <app-loader></app-loader> -->
<!-- <app-login></app-login> -->
<!-- <app-main-nav></app-main-nav> -->
<router-outlet></router-outlet>
