<mat-list>
        <ul class="nav-right">
            <li class="onhover-dropdown"><a class="txt-dark" href="#" data-original-title="" title="">
                <h6>EN</h6></a>
              <ul class="language-dropdown onhover-show-div p-20">
                <li><a href="#" data-lng="en" data-original-title="" title=""><i class="flag-icon flag-icon-is"></i> English</a></li>
                <li><a href="#" data-lng="es" data-original-title="" title=""><i class="flag-icon flag-icon-um"></i> Spanish</a></li>
                <li><a href="#" data-lng="pt" data-original-title="" title=""><i class="flag-icon flag-icon-uy"></i> Portuguese</a></li>
                <li><a href="#" data-lng="fr" data-original-title="" title=""><i class="flag-icon flag-icon-nz"></i> French</a></li>
              </ul>
            </li>
            <li class="onhover-dropdown">
                <div class="media align-items-center"><img class="align-self-center pull-right img-50 rounded-circle" src="../assets/images/user.png" alt="header-user" data-original-title="" title="">
                  <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                </div>
                <!-- <ul class="profile-dropdown onhover-show-div p-20">
                  <li><a href="#" data-original-title="" title=""><i class="material-icons"> person</i>Edit Profile</a></li>
                  <li><a href="#" data-original-title="" title=""><i class="material-icons"> email </i>         Inbox</a></li>
                  <li><a href="#" data-original-title="" title=""><i class="material-icons">
                      lock_open </i>Lock Screen</a></li>
                  <li><a href="#" data-original-title="" title=""><i class="material-icons">
                      settings </i>Settings</a></li>
                  <li><a href="#" data-original-title="" title=""><i class="material-icons"> [arrow_forward </i>        Logout</a></li>
                </ul> -->
              </li>
        </ul>
      </mat-list>