mat-card{
    width: 40%;
    margin:10% auto;
    display: flex;
    flex-direction: column;
    // height: auto;
    justify-content: center;
    align-content: center;
    padding: 15px;
    form{
        flex-direction: column;
        display: flex;
       
    }
}
@media(max-width:599px){
    mat-card{
        width: 70%;

    }
}