
<div class="container"></div>
<mat-card class="card ">
  <div class="container">
    <form  >
      <mat-form-field>
        <input placeholder="username" [(ngModel)]="username" name="username" required matInput />
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="password" name="password"  required placeholder="Password"  matInput type="password"   />
      </mat-form-field>
        <button (click)="login()" mat-button mat-raised-button mat-primary   class="mat-primary"   type="submit" id="submit" value="Submit" >Login </button>
       </form>
  </div>
</mat-card>
