<div class="container-content" >
    <h2>Transaction List Info</h2>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- AccountCode Column -->
                <ng-container matColumnDef="AccountCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.AccountCode}} </td>
                </ng-container>
              
                <!-- AccountName Column -->
                <ng-container matColumnDef="AccountName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Account Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.AccountName}} </td>
                </ng-container>
              
                <!-- default currency Column -->
                <ng-container matColumnDef="DefaultCurrency">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Default Currency </th>
                  <td mat-cell *matCellDef="let element"> {{element.DefaultCurrency}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              
</div>